<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="/* EJ/* Panel de Control */&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;&#xD;&#xA;// eventos&#xD;&#xA;in event evForma&#xD;&#xA;in event evCambiarMag&#xD;&#xA;in event evUp&#xD;&#xA;in event evDown&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;// operaciones&#xD;&#xA;operation opSetForma(Number:integer): void&#xD;&#xA;operation opSetMag(Number:integer): void&#xD;&#xA;operation opChangeMag(MAG: integer, ACT: integer): void&#xD;&#xA;&#xD;&#xA;// constantes&#xD;&#xA;const SENOIDAL: integer  = 0&#xD;&#xA;const CUADRADA: integer  = 1&#xD;&#xA;const TRIANGULAR: integer  = 2&#xD;&#xA;&#xD;&#xA;const V: integer  = 0&#xD;&#xA;const F: integer  = 1&#xD;&#xA;const INC: integer = 1&#xD;&#xA;const DEC: integer = -1&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;var viMag: integer" name="ej3">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="Forma">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_XlKfgBMaEeevvbhLDk5fag" specification="" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EvYFTRMaEeevvbhLDk5fag" specification="entry / opSetForma(SENOIDAL)" name="SENOIDAL" incomingTransitions="_XlKfgBMaEeevvbhLDk5fag _uHdoEDgTEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_mUT00DgTEeysd8KlFxZXlw" specification="evForma" target="_cWdEkDgTEeysd8KlFxZXlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cWdEkDgTEeysd8KlFxZXlw" specification="entry / opSetForma(CUADRADA)" name="CUADRADA" incomingTransitions="_mUT00DgTEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_qrX7sDgTEeysd8KlFxZXlw" specification="evForma" target="_eIwvvDgTEeysd8KlFxZXlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eIwvvDgTEeysd8KlFxZXlw" specification="entry / opSetForma(TRIANGULAR)" name="TRIANGULAR" incomingTransitions="_qrX7sDgTEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_uHdoEDgTEeysd8KlFxZXlw" specification="evForma" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
    </regions>
    <regions xmi:id="_RM5WMDgTEeysd8KlFxZXlw" name="Magnitud">
      <vertices xsi:type="sgraph:Entry" xmi:id="_HnPOEDgUEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_KaTyoDgUEeysd8KlFxZXlw" specification="" target="_ILkDLTgUEeysd8KlFxZXlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ILkDLTgUEeysd8KlFxZXlw" specification="entry / opSetMag(V);&#xA;viMag = V" name="TENSION" incomingTransitions="_KaTyoDgUEeysd8KlFxZXlw _7ysMgDgUEeysd8KlFxZXlw _AXHZ8DgVEeysd8KlFxZXlw _oippwDgVEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_37obYDgUEeysd8KlFxZXlw" specification="evCambiarMag" target="_wyq0oDgUEeysd8KlFxZXlw"/>
        <outgoingTransitions xmi:id="_7ysMgDgUEeysd8KlFxZXlw" specification="evUp / &#xA;opChangeMag(viMag, INC)" target="_ILkDLTgUEeysd8KlFxZXlw"/>
        <outgoingTransitions xmi:id="_oippwDgVEeysd8KlFxZXlw" specification="evDown /&#xA;opChangeMag(viMag, DEC)" target="_ILkDLTgUEeysd8KlFxZXlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wyq0oDgUEeysd8KlFxZXlw" specification="entry / opSetMag(F);&#xA;viMag = F" name="FRECUENCIA" incomingTransitions="_37obYDgUEeysd8KlFxZXlw _0y6hgDgVEeysd8KlFxZXlw __Ze3kDgVEeysd8KlFxZXlw">
        <outgoingTransitions xmi:id="_AXHZ8DgVEeysd8KlFxZXlw" specification="evCambiarMag" target="_ILkDLTgUEeysd8KlFxZXlw"/>
        <outgoingTransitions xmi:id="_0y6hgDgVEeysd8KlFxZXlw" specification="evUp /&#xA;opChangeMag(viMag, INC)" target="_wyq0oDgUEeysd8KlFxZXlw"/>
        <outgoingTransitions xmi:id="__Ze3kDgVEeysd8KlFxZXlw" specification="evDown /&#xA;opChangeMag(viMag, DEC)" target="_wyq0oDgUEeysd8KlFxZXlw"/>
      </vertices>
    </regions>
    <regions xmi:id="_VWcFADhAEeyId5jM0PNjzQ" name="dummyreg">
      <vertices xsi:type="sgraph:State" xmi:id="_X_1JIDhAEeyId5jM0PNjzQ" name="dummy" incomingTransitions="_Z9IjUDhAEeyId5jM0PNjzQ _cAdtADhAEeyId5jM0PNjzQ">
        <outgoingTransitions xmi:id="_cAdtADhAEeyId5jM0PNjzQ" specification="after 1ms" target="_X_1JIDhAEeyId5jM0PNjzQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_ZOsI8DhAEeyId5jM0PNjzQ">
        <outgoingTransitions xmi:id="_Z9IjUDhAEeyId5jM0PNjzQ" specification="" target="_X_1JIDhAEeyId5jM0PNjzQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xmi:id="_IPEiBI_CEeaE_NItBGtDFQ" type="Region" element="_IPEiA4_CEeaE_NItBGtDFQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPEiB4_CEeaE_NItBGtDFQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiCI_CEeaE_NItBGtDFQ" fontName="Abyssinica SIL" fillColor="8421504"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiCY_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPEiCo_CEeaE_NItBGtDFQ" type="RegionCompartment" fontName="Abyssinica SIL" fillColor="8421504" lineColor="4210752">
        <children xmi:id="_IPEiDo_CEeaE_NItBGtDFQ" type="Entry" element="_IPEiDY_CEeaE_NItBGtDFQ">
          <children xmi:id="_IPEiEY_CEeaE_NItBGtDFQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IPEiFI_CEeaE_NItBGtDFQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiFY_CEeaE_NItBGtDFQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiFo_CEeaE_NItBGtDFQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiEo_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiE4_CEeaE_NItBGtDFQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiD4_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiF4_CEeaE_NItBGtDFQ" x="9" y="25" width="15" height="15"/>
        </children>
        <children xmi:id="_EvYFQRMaEeevvbhLDk5fag" type="State" element="_EvYFTRMaEeevvbhLDk5fag">
          <children xsi:type="notation:DecorationNode" xmi:id="_EvYFQhMaEeevvbhLDk5fag" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFQxMaEeevvbhLDk5fag" fillColor="12621752"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EvYFRBMaEeevvbhLDk5fag"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFRRMaEeevvbhLDk5fag" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EvYFRhMaEeevvbhLDk5fag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFRxMaEeevvbhLDk5fag"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFSBMaEeevvbhLDk5fag" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFSRMaEeevvbhLDk5fag" fontName="Verdana" fillColor="12621752" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EvYFShMaEeevvbhLDk5fag"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EvYFSxMaEeevvbhLDk5fag" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFTBMaEeevvbhLDk5fag" x="165" width="226" height="66"/>
        </children>
        <children xmi:id="_cWaBQDgTEeysd8KlFxZXlw" type="State" element="_cWdEkDgTEeysd8KlFxZXlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_cWaBQTgTEeysd8KlFxZXlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cWaBQjgTEeysd8KlFxZXlw" fillColor="12621752"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cWaBQzgTEeysd8KlFxZXlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cWaBRDgTEeysd8KlFxZXlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_cWaBRTgTEeysd8KlFxZXlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cWaBRjgTEeysd8KlFxZXlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cWaBRzgTEeysd8KlFxZXlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cWaBSDgTEeysd8KlFxZXlw" fontName="Verdana" fillColor="12621752" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cWaBSTgTEeysd8KlFxZXlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cWaBSjgTEeysd8KlFxZXlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cWaBSzgTEeysd8KlFxZXlw" x="487" width="226" height="66"/>
        </children>
        <children xmi:id="_eIwvsDgTEeysd8KlFxZXlw" type="State" element="_eIwvvDgTEeysd8KlFxZXlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_eIwvsTgTEeysd8KlFxZXlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eIwvsjgTEeysd8KlFxZXlw" fillColor="12621752"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_eIwvszgTEeysd8KlFxZXlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eIwvtDgTEeysd8KlFxZXlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_eIwvtTgTEeysd8KlFxZXlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eIwvtjgTEeysd8KlFxZXlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eIwvtzgTEeysd8KlFxZXlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eIwvuDgTEeysd8KlFxZXlw" fontName="Verdana" fillColor="12621752" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_eIwvuTgTEeysd8KlFxZXlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eIwvujgTEeysd8KlFxZXlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eIwvuzgTEeysd8KlFxZXlw" x="494" y="161" width="226" height="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiC4_CEeaE_NItBGtDFQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiBY_CEeaE_NItBGtDFQ" fontName="Abyssinica SIL" fillColor="8421504" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiDI_CEeaE_NItBGtDFQ" x="388" y="44" width="848" height="351"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" width="390" height="811"/>
    </children>
    <children xmi:id="_RNAD4DgTEeysd8KlFxZXlw" type="Region" element="_RM5WMDgTEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_RNDHMDgTEeysd8KlFxZXlw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RNDHMTgTEeysd8KlFxZXlw" fillColor="8421504"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RNDHMjgTEeysd8KlFxZXlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RNDuQDgTEeysd8KlFxZXlw" type="RegionCompartment" fontName="Verdana" fillColor="8421504" lineColor="4210752">
        <children xmi:id="_HnN_8TgUEeysd8KlFxZXlw" type="Entry" element="_HnPOEDgUEeysd8KlFxZXlw">
          <children xmi:id="_HnN_8jgUEeysd8KlFxZXlw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_HnN_8zgUEeysd8KlFxZXlw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_HnN_9DgUEeysd8KlFxZXlw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_HnN_9TgUEeysd8KlFxZXlw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HnN_9jgUEeysd8KlFxZXlw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HnN_9zgUEeysd8KlFxZXlw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HnN_-DgUEeysd8KlFxZXlw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HnN_-TgUEeysd8KlFxZXlw" x="9" y="33" width="15" height="15"/>
        </children>
        <children xmi:id="_ILkDITgUEeysd8KlFxZXlw" type="State" element="_ILkDLTgUEeysd8KlFxZXlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_ILkDIjgUEeysd8KlFxZXlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ILkDIzgUEeysd8KlFxZXlw" fillColor="12621752"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ILkDJDgUEeysd8KlFxZXlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ILkDJTgUEeysd8KlFxZXlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ILkDJjgUEeysd8KlFxZXlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ILkDJzgUEeysd8KlFxZXlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ILkDKDgUEeysd8KlFxZXlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ILkDKTgUEeysd8KlFxZXlw" fontName="Verdana" fillColor="12621752" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ILkDKjgUEeysd8KlFxZXlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ILkDKzgUEeysd8KlFxZXlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ILkDLDgUEeysd8KlFxZXlw" x="127" y="8" width="226" height="66"/>
        </children>
        <children xmi:id="_wyqNkDgUEeysd8KlFxZXlw" type="State" element="_wyq0oDgUEeysd8KlFxZXlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_wyqNkTgUEeysd8KlFxZXlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wyqNkjgUEeysd8KlFxZXlw" fillColor="12621752"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wyqNkzgUEeysd8KlFxZXlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wyqNlDgUEeysd8KlFxZXlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wyqNlTgUEeysd8KlFxZXlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wyqNljgUEeysd8KlFxZXlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wyqNlzgUEeysd8KlFxZXlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wyqNmDgUEeysd8KlFxZXlw" fontName="Verdana" fillColor="12621752" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wyqNmTgUEeysd8KlFxZXlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wyqNmjgUEeysd8KlFxZXlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wyqNmzgUEeysd8KlFxZXlw" x="126" y="159" width="226" height="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RNDuQTgTEeysd8KlFxZXlw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RNAD4TgTEeysd8KlFxZXlw" fontName="Verdana" fillColor="8421504" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RNAD4jgTEeysd8KlFxZXlw" x="389" y="394" width="846" height="314"/>
    </children>
    <children xmi:id="_VWd6MDhAEeyId5jM0PNjzQ" type="Region" element="_VWcFADhAEeyId5jM0PNjzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_VWd6MzhAEeyId5jM0PNjzQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VWd6NDhAEeyId5jM0PNjzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VWd6NThAEeyId5jM0PNjzQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_VWehQDhAEeyId5jM0PNjzQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_X_1wMDhAEeyId5jM0PNjzQ" type="State" element="_X_1JIDhAEeyId5jM0PNjzQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_X_1wNDhAEeyId5jM0PNjzQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_X_1wNThAEeyId5jM0PNjzQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_X_1wNjhAEeyId5jM0PNjzQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_X_1wNzhAEeyId5jM0PNjzQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_X_1wODhAEeyId5jM0PNjzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X_1wOThAEeyId5jM0PNjzQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_X_1wOjhAEeyId5jM0PNjzQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_X_1wMThAEeyId5jM0PNjzQ" fontName="Verdana" fillColor="5461845" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_X_1wMjhAEeyId5jM0PNjzQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X_2XQDhAEeyId5jM0PNjzQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X_1wMzhAEeyId5jM0PNjzQ" x="173" y="20" width="71" height="53"/>
        </children>
        <children xmi:id="_ZOtXEDhAEeyId5jM0PNjzQ" type="Entry" element="_ZOsI8DhAEeyId5jM0PNjzQ">
          <children xmi:id="_ZOt-IDhAEeyId5jM0PNjzQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_ZOt-IzhAEeyId5jM0PNjzQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ZOt-JDhAEeyId5jM0PNjzQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_ZOt-JThAEeyId5jM0PNjzQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZOt-IThAEeyId5jM0PNjzQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZOt-IjhAEeyId5jM0PNjzQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZOtXEThAEeyId5jM0PNjzQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_ZOtXEjhAEeyId5jM0PNjzQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZOtXEzhAEeyId5jM0PNjzQ" x="57" y="29" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VWehQThAEeyId5jM0PNjzQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_VWd6MThAEeyId5jM0PNjzQ" fontName="Verdana" fillColor="5461845" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VWd6MjhAEeyId5jM0PNjzQ" x="388" y="707" width="297" height="127"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <edges xmi:id="_XlQmIBMaEeevvbhLDk5fag" type="Transition" element="_XlKfgBMaEeevvbhLDk5fag" source="_IPEiDo_CEeaE_NItBGtDFQ" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_XlQmJBMaEeevvbhLDk5fag" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XlQmJRMaEeevvbhLDk5fag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XlQmJhMaEeevvbhLDk5fag" x="-51" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XlQmIRMaEeevvbhLDk5fag" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XlQmIxMaEeevvbhLDk5fag" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XlQmIhMaEeevvbhLDk5fag" points="[6, 3, -144, 0]$[149, 3, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_52pucEj5Eeqtc9-MCX52-w" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XlWswBMaEeevvbhLDk5fag" id="(0.005771262904056142,0.5303030303030303)"/>
    </edges>
    <edges xmi:id="_mUVqADgTEeysd8KlFxZXlw" type="Transition" element="_mUT00DgTEeysd8KlFxZXlw" source="_EvYFQRMaEeevvbhLDk5fag" target="_cWaBQDgTEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_mUW4IDgTEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mUW4ITgTEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mUW4IjgTEeysd8KlFxZXlw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mUVqATgTEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mUWREDgTEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mUVqAjgTEeysd8KlFxZXlw" points="[0, -11, -100, -2]$[96, -11, -4, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mUbwoDgTEeysd8KlFxZXlw" id="(1.0,0.7424242424242424)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mUbwoTgTEeysd8KlFxZXlw" id="(0.017699115044247787,0.6060606060606061)"/>
    </edges>
    <edges xmi:id="_qra_ADgTEeysd8KlFxZXlw" type="Transition" element="_qrX7sDgTEeysd8KlFxZXlw" source="_cWaBQDgTEeysd8KlFxZXlw" target="_eIwvsDgTEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qrgekTgTEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qrgekjgTEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qrgekzgTEeysd8KlFxZXlw" x="1" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qra_ATgTEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qrgekDgTEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qra_AjgTEeysd8KlFxZXlw" points="[-5, 0, 1, -90]$[-5, 90, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qrnMQDgTEeysd8KlFxZXlw" id="(0.6238938053097345,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qrnzUDgTEeysd8KlFxZXlw" id="(0.5663716814159292,0.0)"/>
    </edges>
    <edges xmi:id="_uHe2MDgTEeysd8KlFxZXlw" type="Transition" element="_uHdoEDgTEeysd8KlFxZXlw" source="_eIwvsDgTEeysd8KlFxZXlw" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_uHe2NDgTEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uHe2NTgTEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uHe2NjgTEeysd8KlFxZXlw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uHe2MTgTEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uHe2MzgTEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uHe2MjgTEeysd8KlFxZXlw" points="[0, 0, 240, 137]$[-239, -126, 1, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uHigkDgTEeysd8KlFxZXlw" id="(0.0,0.5757575757575758)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uHigkTgTEeysd8KlFxZXlw" id="(0.3407079646017699,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_KaVn0DgUEeysd8KlFxZXlw" type="Transition" element="_KaTyoDgUEeysd8KlFxZXlw" source="_HnN_8TgUEeysd8KlFxZXlw" target="_ILkDITgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KaWO4DgUEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KaWO4TgUEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KaWO4jgUEeysd8KlFxZXlw" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KaVn0TgUEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KaVn0zgUEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KaVn0jgUEeysd8KlFxZXlw" points="[-2, -3, -106, 6]$[103, -3, -1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KaZSMDgUEeysd8KlFxZXlw" id="(1.0,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KaZSMTgUEeysd8KlFxZXlw" id="(0.004424778761061947,0.3787878787878788)"/>
    </edges>
    <edges xmi:id="_37ppgDgUEeysd8KlFxZXlw" type="Transition" element="_37obYDgUEeysd8KlFxZXlw" source="_ILkDITgUEeysd8KlFxZXlw" target="_wyqNkDgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_37pphDgUEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_37pphTgUEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_37pphjgUEeysd8KlFxZXlw" x="-19" y="2"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_37ppgTgUEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_37ppgzgUEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_37ppgjgUEeysd8KlFxZXlw" points="[40, 66, 44, -99]$[40, 151, 44, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_37sFwDgUEeysd8KlFxZXlw" id="(0.2168141592920354,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_37sFwTgUEeysd8KlFxZXlw" id="(0.20353982300884957,0.21212121212121213)"/>
    </edges>
    <edges xmi:id="_7ytaoDgUEeysd8KlFxZXlw" type="Transition" element="_7ysMgDgUEeysd8KlFxZXlw" source="_ILkDITgUEeysd8KlFxZXlw" target="_ILkDITgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7ytapDgUEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7ytapTgUEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7ytapjgUEeysd8KlFxZXlw" x="-98" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7ytaoTgUEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7ytaozgUEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7ytaojgUEeysd8KlFxZXlw" points="[0, -19, 0, -21]$[63, -19, 63, -21]$[63, -70, 63, -72]$[-56, -70, -56, -72]$[-56, -50, -56, -52]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7ywd8DgUEeysd8KlFxZXlw" id="(1.0,0.7575757575757576)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7ywd8TgUEeysd8KlFxZXlw" id="(1.0,0.7878787878787878)"/>
    </edges>
    <edges xmi:id="_AXLrYDgVEeysd8KlFxZXlw" type="Transition" element="_AXHZ8DgVEeysd8KlFxZXlw" source="_wyqNkDgUEeysd8KlFxZXlw" target="_ILkDITgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_AXOHoDgVEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AXOHoTgVEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AXOusDgVEeysd8KlFxZXlw" x="-25" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AXLrYTgVEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AXMScDgVEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AXLrYjgVEeysd8KlFxZXlw" points="[-37, 0, -37, 85]$[-37, -85, -37, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AXWDcDgVEeysd8KlFxZXlw" id="(0.6991150442477876,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AXWDcTgVEeysd8KlFxZXlw" id="(0.6946902654867256,1.0)"/>
    </edges>
    <edges xmi:id="_oisGADgVEeysd8KlFxZXlw" type="Transition" element="_oippwDgVEeysd8KlFxZXlw" source="_ILkDITgUEeysd8KlFxZXlw" target="_ILkDITgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_oisGBDgVEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oisGBTgVEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oistEDgVEeysd8KlFxZXlw" x="-107" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oisGATgVEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oisGAzgVEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oisGAjgVEeysd8KlFxZXlw" points="[226, 0, 113, 17]$[289, 0, 176, 17]$[289, 54, 176, 71]$[170, 54, 57, 71]$[170, 16, 57, 33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oixlkDgVEeysd8KlFxZXlw" id="(0.0,0.7575757575757576)"/>
    </edges>
    <edges xmi:id="_0y7voDgVEeysd8KlFxZXlw" type="Transition" element="_0y6hgDgVEeysd8KlFxZXlw" source="_wyqNkDgUEeysd8KlFxZXlw" target="_wyqNkDgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0y7vpDgVEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0y7vpTgVEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0y7vpjgVEeysd8KlFxZXlw" x="33" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0y7voTgVEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0y7vozgVEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0y7vojgVEeysd8KlFxZXlw" points="[-43, 24, -28, -15]$[-128, 24, -113, -15]$[-128, -23, -113, -62]$[-12, -23, 3, -62]$[-12, 0, 3, -39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0y_aADgVEeysd8KlFxZXlw" id="(0.1902654867256637,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0y_aATgVEeysd8KlFxZXlw" id="(0.12389380530973451,0.5909090909090909)"/>
    </edges>
    <edges xmi:id="__ZfeoDgVEeysd8KlFxZXlw" type="Transition" element="__Ze3kDgVEeysd8KlFxZXlw" source="_wyqNkDgUEeysd8KlFxZXlw" target="_wyqNkDgUEeysd8KlFxZXlw">
      <children xsi:type="notation:DecorationNode" xmi:id="__ZgFsDgVEeysd8KlFxZXlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__ZgFsTgVEeysd8KlFxZXlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__ZgFsjgVEeysd8KlFxZXlw" x="35" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__ZfeoTgVEeysd8KlFxZXlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__ZfeozgVEeysd8KlFxZXlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__ZfeojgVEeysd8KlFxZXlw" points="[-46, 45, -178, -16]$[-129, 45, -261, -16]$[-129, 90, -261, 29]$[-15, 90, -147, 29]$[-15, 66, -147, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__Zh64DgVEeysd8KlFxZXlw" id="(0.20353982300884957,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__Zh64TgVEeysd8KlFxZXlw" id="(0.7876106194690266,0.9242424242424242)"/>
    </edges>
    <edges xmi:id="_Z9JKYDhAEeyId5jM0PNjzQ" type="Transition" element="_Z9IjUDhAEeyId5jM0PNjzQ" source="_ZOtXEDhAEeyId5jM0PNjzQ" target="_X_1wMDhAEeyId5jM0PNjzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z9JKZDhAEeyId5jM0PNjzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z9JKZThAEeyId5jM0PNjzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z9JKZjhAEeyId5jM0PNjzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Z9JKYThAEeyId5jM0PNjzQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Z9JKYzhAEeyId5jM0PNjzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Z9JKYjhAEeyId5jM0PNjzQ" points="[-3, 7, -142, 2]$[140, -18, 1, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z9KYgDhAEeyId5jM0PNjzQ" id="(1.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z9KYgThAEeyId5jM0PNjzQ" id="(0.08450704225352113,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_cAeUEDhAEeyId5jM0PNjzQ" type="Transition" element="_cAdtADhAEeyId5jM0PNjzQ" source="_X_1wMDhAEeyId5jM0PNjzQ" target="_X_1wMDhAEeyId5jM0PNjzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_cAeUFDhAEeyId5jM0PNjzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cAeUFThAEeyId5jM0PNjzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cAeUFjhAEeyId5jM0PNjzQ" x="26" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cAeUEThAEeyId5jM0PNjzQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cAeUEzhAEeyId5jM0PNjzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cAeUEjhAEeyId5jM0PNjzQ" points="[38, 39, 12, 5]$[51, 39, 25, 5]$[51, -13, 25, -47]$[21, -13, -5, -47]$[21, 0, -5, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cAe7IDhAEeyId5jM0PNjzQ" id="(0.4647887323943662,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cAe7IThAEeyId5jM0PNjzQ" id="(0.8309859154929577,0.6415094339622641)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
